*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}
/* body */
body {
    font-family: Mulish, Arial, "Segoe UI", helvetica, verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(3, 26, 50);
    background: rgb(251, 253, 255);
}
.tbs{
    width: 100%;
    color: rgb(49, 54, 60);
    background: rgb(242, 248, 253);
    padding: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1100;
    transition: top 0.3s;
}
.tbs .container{
    max-width: 1300px;
}
@media (max-width: 820px) {
    .container {
        padding: 0px 16px;
    }
}
/*first navbar*/
.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.col-6 {
    width: 50%;
}
.tbs ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
}
@media (max-width: 767px) {
    .tbs .no-content {
        display: none;
    }
}
.tbs ul li {
    margin: 0px 20px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.tbs ul li .ic{
    width: 13px;
    height: 13px;
    margin: 0px 5px 0px 0px;
    display: flex;
}
.tbstyle1 {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
}
.tbs ul li .ic img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
}
img{
    vertical-align: middle;
}
.tbs .phone {
    color: rgb(49, 54, 60);
    text-decoration: none;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}
.tbs .phone .ic {
    width: 13px;
    height: 13px;
    margin: 0px 5px 0px 0px;
    display: flex;
}
.tbs .phone .text {
    font-size: 13px;
}

row>* {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
/*first navbar exits*/
/* Header starts*/
.hdrstyle{
    width: 100%;
    min-height: 80px;
    display: flex;
    border-bottom: 1px solid rgb(235, 242, 249);
    background: rgb(255, 255, 255);
    position: fixed;
    top: 41px;
    left: 0px;
    z-index: 1100;
    transition: top 0.3s;
    flex-direction: column;
}
@media (max-width: 820px) {
    .hdrstyle .container {
        padding: 0px;
    }
}

.hdrstyle .container {
    max-width: 1300px;
    padding: 16px !important;
}

@media (max-width: 820px) {
    .container {
        padding: 0px 16px;
    }
}

@media (max-width: 820px) {
    .hdrstyle .content {
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

.hdrstyle .content {
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px !important;
}
@media (max-width: 820px) {
    .hdrstyle .menuButton {
        margin: 0px 15px 0px 0px;
    }
}

.hdrstyle .menuButton {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 30px 0px 0px;
}
.hdrstyle .menuButton .ic {
    width: 18px;
    height: 18px;
    display: flex;
    margin: 0px 10px 0px 0px;
}
.hdrstyle .menuButton .ic i {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
@media (max-width: 820px) {
    .hdrstyle .menuButton .label {
        display: none;
    }
}

.hdrstyle .menuButton > .label {
    font-weight: 600;
    color: rgb(3, 26, 50);
}

.msnvs{
    width: 100%;
    position: fixed;
    top: 40px;
    height: 100vh;
    left: 0px;
    z-index: 1100;
    transition: 0.05s ease-in;
    background: rgba(0, 0, 0, 0.46);
}
@media only screen and (max-width: 820px) {
    .msnvs {
        top: 0px;
    }
}


@media only screen and (max-width: 957px) {
    .msnvs {
        top: 40px;
    }
}
.msnvs .overlay {
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1100;
}
@media only screen and (max-width: 957px) {
    .msnvs .menu-wrapper {
        width: 324px;
        font-weight: 700;
        font-size: 17px;
    }
}



.msnvs .menu-wrapper .menu-wrapper-section {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
@media only screen and (max-width: 957px) {
    .msnvs .menu-wrapper .ic {
        display: none;
    }
}

.msnvs .menu-wrapper .ic {
    width: 18px;
    height: 18px;
    display: flex;
    margin: 0px 10px 0px 0px;
}

@media (max-width: 380px) {
    .msnvs .logo {
        width: 80px;
        height: 23px;
    }
}


@media (max-width: 820px) {
    .msnvs .logo {
        margin: 0px auto 0px 0px;
    }
}

.msnvs .logo {
    width: 105px;
    min-width: 105px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 30px 0px 0px;
    cursor: pointer;
}

.msnvs .logo a {
    display: flex;
}

.msnvs a {
    color: inherit;
    text-decoration: none;
}
@media (max-width: 820px) {
    .hdrstyle .content .searchBox {
        display: none;
    }
}


.hdrstyle .content .searchBox {
    width: 100%;
}

.hdrstyle .searchGlobalBox {
    width: 100%;
}
.sbs {
    width: 100%;
    position: relative;
}
.hdrstyle .searchGlobalBox input {
    padding: 12px 40px;
}


.sbs .react-autosuggest__input {
    width: 100%;
    padding: 12px 40px;
}

@media (max-width: 575px) {
    .sbs input {
        padding: 12px 40px;
    }
}

.sbs input {
    font-size: 14px;
    padding: 12px 40px 12px 10px;
    background: rgb(249, 251, 254);
    border: 1px solid rgb(235, 242, 249);
    border-radius: 6px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.sbs #react-autowhatever-1 {
    max-height: 450px;
    overflow-y: auto;
}


.sbs .searchMenu {
    width: 100%;
    min-height: 100px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(227, 233, 239);
    border-radius: 8px;
    position: absolute;
    top: calc(100% + 4px);
    left: 0px;
}
.sbs .searchMenu .box {
    padding: 16px;
}

.pb-0 {
    padding-bottom: 0 !important;
}
.sbs .react-autosuggest__suggestions-container {
    display: none;
}
.sbs .searchMenu .box .title {
    font-size: 17px;
    font-weight: 700;
    color: rgb(3, 26, 50);
    margin-bottom: 24px;
}
.sbs .searchMenu .searchList {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sbs .icGlobalSearch {
    width: 18px;
    position: absolute;
    top: 15px;
    right: auto;
    z-index: 1;
    cursor: pointer;
    left: 15px;
}
.hdrstyle .pointBox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 0px 30px;
    position: relative;
}
.cursor-pointer {
    cursor: pointer;
}
.hdrstyle .loginSignup {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 0px 30px;
}
.hdrstyle .loginSignup .ic {
    width: 34px;
    display: flex;
    margin: 0px 10px 0px 0px;
    border-radius: 50%;
    overflow: hidden;
}
.hdrstyle .cartBox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 15px 0px 30px;
    cursor: pointer;
    position: relative;
}
@media (max-width: 380px) {
    .hdrstyle .cartBox .ic {
        width: 16px;
        height: 16px;
    }
}

.hdrstyle .cartBox .ic {
    width: 20px;
    height: 22px;
    position: relative;
}

.hdrstyle .searchBox input{
    padding: 12px 40px;
    width: 100%;
    background: rgb(249, 251, 254);
    border: 1px solid rgb(235, 242, 249);
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
    font-size: 16px;
    padding: 12px 40px 12px 10px;
    
    border-radius: 6px;
}

.hdrstyle .searchBox{
    align-items: center;
    display: flex;
    width: 40%;
    margin-left: 5px;
}

.search-icon{
    display: flex;
    max-width: 41px;
    padding: 8px;
}
.bann1 .d-block{
    max-width: 100%;
    mask-image: linear-gradient(to bottom,#000000 50%, transparent 100%);

}



/*.container {
    max-width: 1112px;
}*/
.carousel slide{
   
    max-width: 1112px;
    width: 100%;
    margin-right: auto;
  
    margin-bottom: 10px;
}


.carousel img {
    border-radius: 8px;
    max-width: 100%;
    width: 100% !important;
    height: 100% !important;
   /* min-height: 340px !important;*/
    position: relative !important;

}
.m{
    margin: 50px;
    margin-right: 50px;

}
/*Module buttons*/
.ModuleButton{
    margin-top: 10px;
    max-width: 1112px;
   
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
}
.ModuleButton .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
    max-width: 1112px;
}
/**linear-gradient(57.07deg, rgb(66, 165, 245) 36.1%, rgb(24, 200, 255) 100%);**/


.ModuleButton .btnClass button{
    
    display: flex;
    ext-align: start;
    font-weight: 700;
    font-family: "Segoe UI";
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(25, 118, 210);
    font-size: 16px;
    line-height: 22px;
    border-radius: 8px;
    border-color: rgb(25, 118, 210);;
    color: white;
    height: 114px;
    
}
.ModuleButton .btnClass .b1{
    border: none;
    margin-left: 25px;
    width: 300px;
    height: 80px;
    align-items: center;
    background-image: linear-gradient(57.07deg, rgb(66, 165, 245) 36.1%, rgb(24, 200, 255) 100%)!important;
    transition: opacity 0.4s;
    justify-content: flex-start;
    background-repeat: no-repeat;
   
}
.ModuleButton .btnClass .b2{
    border: none;
    margin-left:5px ;
    align-items: center;
    background-image: linear-gradient(57.07deg, rgb(102, 187, 106) 36.1%, rgb(196, 225, 113) 100%) !important;
    transition: opacity 0.4s;
    justify-content: flex-start;
    background-repeat: no-repeat;
    width: 300px;
    height: 80px;
}
.ModuleButton .btnClass .b3{
    border: none;
    margin-left:5px ;
    align-items: center;
    background-image: linear-gradient(57.07deg, rgb(44, 62, 112) 36.1%, rgb(112, 142, 225) 100%) !important;
    transition: opacity 0.4s;
    justify-content: flex-start;
    background-repeat: no-repeat;
    width: 300px;
    height: 80px;
}
@media (max-width: 480px) {
    .ModuleButton .btnClass button .b1 {
        background-image: linear-gradient(57.07deg, rgb(66, 165, 245) 36.1%, rgb(24, 200, 255) 100%) !important;
    }

}
.ModuleButton .btnClass button img{
  border-radius: 50%;

}
@media (max-width: 480px) {
    .ModuleButton .btnClass button .b1, .ModuleButton .btnClass button .b2, .ModuleButton .btnClass button .b3 {
        width: 100%;
        max-width: 118px;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        text-align: start;
        height: 114px;
        min-width: 1px !important;
        flex-direction: column !important;
        align-items: flex-start !important;
        padding-left: 10px !important;
    }
}


@media (max-width: 480px) {
    .ModuleButton  .container {
        gap: 14px;
    }
}


@media (max-width: 820px) {
    .ModuleButton  .container {
        gap: 14px;
    }
}

.ModuleButton  .container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 8px;
    gap: 16px;
}

.ModuleButton  .container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

@media (max-width: 820px) {
    .container {
        padding: 0px 16px;
    }
}

.container {
    max-width: 1112px;
}
/*Module buttons ends*/
/* top categories starts*/
.EightinOneStyle{
    background: rgb(251, 253, 255);
}
.SectionBoxStyled.whiteBg{
    background: rgb(255, 255, 255);
}
.SectionBoxStyled{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
}
.ePharmacyContainer{
    max-width: 1112px;
    margin-right: auto;
    margin-left: auto;
}
.pb-2{
    padding-bottom: .5rem !important;
}
.EightinOneStyle .ePharmacyContainer{
    padding: 4px;
}
.SectionBoxStyled.whiteBg .ePharmacyContainer{
    background: linear-gradient(rgb(241, 246, 251) 0px, rgb(255, 255, 255) 50px);

}

.SectionBoxStyled .ePharmtitleBar{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.SectionBoxStyled .ePharmtitle{
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0px 20px 8px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}
.SectionBoxStyled .ePharmtitle .ePharmSubText{
color: rgb(76, 88, 100);
margin-left: 8px;
font-size: 13px;
font-weight: 600;
}
.justify-content-center{
    justify-content: center !important;
}
.d-flex{
    display: flex !important;
}
.EightinOneStyle .categoryItemBox{
    width: 100%;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    display: flex;
}
.EightinOneStyle .categoryItemBox.newDesign .ePhrmItem{
    background: transparent;
    border: 0px;
    padding: 0px;
}
.EightinOneStyle .categoryItemBox .ePhrmItem{
    width: 100%;
    margin: 0px 7px 0px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.EightinOneStyle .categoryItemBox.newDesign .ePhrmItem .ePharmimg{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(224, 241, 225);
    margin-bottom: 16px;
}
.EightinOneStyle .categoryItemBox .ePharmimg{
  
    margin: 0px 0px 8px;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.EightinOneStyle .categoryItemBox .name{
    width: 90%;
    padding-bottom: 0px;
    height: 42px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
}
/* top categories ends*/
/*bannerstatic starts*/

@media (max-width: 480px) {
    .stbann {
        padding: 0px 16px;
        margin: 0px 0px 16px;
    }
}
@media (max-width: 820px) {
    .stbann {
        padding: 0px 16px 16px;
    }
}

.stbann {
    margin: 16px 0px;
}
@media (max-width: 820px) {
    .container {
        padding: 0px 16px;
    }
}


.container {
    max-width: 1112px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
.p-0 {
    padding: 0 !important;
}
.stbann .banner {
    width: 100%;
    margin: 0px 0px 20px;
    position: relative;
    cursor: pointer;
}
.stbann .banner > div > img {
    border-radius: 8px;
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
}

img{
    vertical-align: middle;
}
/*bannerstatic ends*/

/* Discover Exc'Brands starts*/
.EightinOneStyle{
    background: rgb(251, 253, 255);
}
.SectionBoxStyled.whiteBg{
    background: rgb(255, 255, 255);
}
.SectionBoxStyled{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    z-index: 1;
    border-radius: 8px;
}
.ePharmacyContainer{
    max-width: 1112px;
    margin-right: auto;
    margin-left: auto;
}
.pb-2{
    padding-bottom: .5rem !important;
}
.EightinOneStyle .ePharmacyContainer{
    padding: 4px;
}
.SectionBoxStyled.whiteBg .ePharmacyContainer{
    background: linear-gradient(rgb(241, 246, 251) 0px, rgb(255, 255, 255) 50px);

}

.SectionBoxStyled .ePharmtitleBar{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.SectionBoxStyled .ePharmtitle{
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0px 20px 8px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}
.SectionBoxStyled .ePharmtitle .ePharmSubText{
color: rgb(76, 88, 100);
margin-left: 8px;
font-size: 13px;
font-weight: 600;
}
.justify-content-center{
    justify-content: center !important;
}
.d-flex{
    display: flex !important;
}
.EightinOneStyle .categoryItemBox{
    width: 100%;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    display: flex;
}
.EightinOneStyle .categoryItemBox.newDesign .ePhrmItem{
    background: transparent;
    border: 0px;
    padding: 0px;
}
.EightinOneStyle .categoryItemBox .ePhrmItem{
    width: 100%;
    margin: 0px 7px 0px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.EightinOneStyle .categoryItemBox.newDesign .ePhrmItem .ePharmimg{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(224, 241, 225);
    margin-bottom: 16px;
}
.EightinOneStyle .categoryItemBox .ePharmimg{
  
    margin: 0px 0px 8px;
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

/* Discover Exc'Brands ends*/
/*--cardgroups*/

   


.cards-wrapper{
    display: flex;
    background-color: #f2f8fd;
    gap: 10px;
}
.card{
    margin: 0.5rem;
    width: calc(100%/4);
}
.image-wrapper{
    height: 100px;
    height: 22vw;
    margin: 0 auto;
   
}
.image-wrapper img{
    width: 186px;
    height: 100px;
    
}
.SectionBoxStyled .ePharmacyContainer {
    padding: 0px;
}


@media (max-width: 820px) {
    .ePharmacyContainer {
        padding: 0px 16px;
    }
}

.ePharmacyContainer {
    max-width: 1112px;
}

.card-body .card-title{
    width: 176px;
    height: 56px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: rgb(3, 26, 50);
    margin-top: 3px;
}

.carousel .cards-wrapper .card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    isolation: isolate;
    width: 203px;
    height: 263px;
    border-radius: 8px;
    padding: 8px 10px;
}
.carousel .cards-wrapper .card-body .card-text{
    width: 100%;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: rgb(185, 129, 28);
}
.carousel .cards-wrapper .card-body .Amount {
    width: 186px;
    height: 20px;
    padding: 0px;
    gap: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.cards-wrapper .card-body .Amount {
    display: flex;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 12px;
    gap: 8px;

}
.carousel .cards-wrapper .card-body .Amountpackage {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    height: 19px;
    color: rgb(3, 26, 50);
    white-space: nowrap;
}
.carousel .cards-wrapper .card-body .spanbottomAmt {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgb(56, 142, 60);
    cursor: pointer;
    width: 100%;
    height: 15px;
    white-space: nowrap;
    text-align: left;
}
.carousel .cards-wrapper .card-body  .viewDetails {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgb(25, 118, 210);
    cursor: pointer;
    width: 118px;
    height: 40px;
    border: 1px solid rgb(25, 118, 210);
    border-radius: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.carousel .cards-wrapper .card-body span {
    display: block;
    width: 100%;
}
.carousel .cards-wrapper .card-body .viewDetails a {
    color: rgb(25, 118, 210);
    text-decoration: none;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* cardgroups */

/* cardgroupsQuick */
.QuickLinkStyle .titleContainer{
    max-width: 1112px;
    margin-right: auto;
    margin-left: auto;
}
.ModuleButtonQuick .container{
    display: flex;
    max-width: 1112px;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.ModuleButtonQuick .btnClass button{
    
    display: flex;
    text-align: start;
    font-weight: 700;
    font-family: "Segoe UI";
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(25, 118, 210);
    font-size: 16px;
    line-height: 22px;
    border-radius: 8px;

    color: black;
    height: 114px;
    
}
.QuickLinkStyle .ModuleButtonQuick{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 16px;
    margin-bottom: 16px;
}

.ModuleButtonQuick .btnClass .b1{
    border-color: rgb(227, 233, 239);
    
    margin-left: 5px;
    width: 250px;
    height: 80px;
    align-items: center;
    background: rgb(251, 253, 255);
    transition: opacity 0.4s;
    justify-content: flex-start;
    background-repeat: no-repeat;
   
}
.ModuleButtonQuick .btnClass .b2{
    border-color: rgb(227, 233, 239);
 
    margin-left:5px ;
    align-items: center;
    background: rgb(251, 255, 255);
    transition: opacity 0.4s;
    justify-content: flex-start;
    background-repeat: no-repeat;
    width: 300px;
    height: 80px;
}
.ModuleButtonQuick .btnClass .b3{
    border-color: rgb(227, 233, 239);

    margin-left:5px ;
    align-items: center;
    background: rgb(251, 253, 255);
    transition: opacity 0.4s;
    justify-content: flex-start;
    background-repeat: no-repeat;
    width: 250px;
    height: 80px;
}
.ModuleButtonQuick .btnClass .b4{
    border-color: rgb(227, 233, 239);

    margin-left:5px ;
    align-items: center;
    background: rgb(251, 253, 255);
   
    transition: opacity 0.4s;
    justify-content: flex-start;
    background-repeat: no-repeat;
    width: 250px;
    height: 80px;
}
.ModuleButtonQuick .b1 .arrow{
  
    margin-left: 60px;
   
    top: 25px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}   
.ModuleButtonQuick .b2 .arrow{
    
    margin-left: 60px;
    
    top: 25px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}   
.ModuleButtonQuick .b3 .arrow{
   
    margin-left: 60px;
  
    top: 25px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}   
.ModuleButtonQuick .b4 .arrow{
    margin-left: 60px;
    
   
    
    top: 25px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}   
/* cardgroupsQuick end */


/**doctor Speciality**/
.EightinOneStyle{
    background: rgb(251, 253, 255);
}
.SectionBoxStyled.whiteBg{
    background: rgb(255, 255, 255);
}
.SectionBoxStyled{
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    z-index: 1;
    background: rgb(251, 253, 255);
    border-radius: 8px;
}
.ePharmacyContainer{
    max-width: 1112px;
    margin-right: auto;
    margin-left: auto;
}
.pb-2{
    padding-bottom: .5rem !important;
}
.EightinOneStyle .ePharmacyContainer{
    padding: 4px;
}
.SectionBoxStyled.whiteBg .ePharmacyContainer{
    background: linear-gradient(rgb(241, 246, 251) 0px, rgb(255, 255, 255) 50px);

}

.SectionBoxStyled .ePharmtitleBar{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.SectionBoxStyled .ePharmtitle{
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0px 20px 8px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}
.SectionBoxStyled .ePharmtitle .ePharmSubText{
    color: rgb(76, 88, 100);
    margin-left: 8px;
    font-size: 13px;
    font-weight: 600;
}
.SectionBoxStyled .rightTop{
    text-align: right;
    margin-left: auto;
}
.SectionBoxStyled .linkme2{
    color: rgb(25, 118, 210);
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0px;
    text-decoration: none;
}
.justify-content-center{
    justify-content: center !important;
}
.d-flex{
    display: flex !important;
}
.EightinOneStyle .categoryItemBox{
    width: 100%;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
    display: flex;
}
.EightinOneStyle .categoryItemBox.newDesign .ePhrmItem{
    background: transparent;
    border: 0px;
    padding: 0px;
}
.EightinOneStyle .categoryItemBox .ePhrmItem{
    width: 100%;
    margin: 0px 7px 0px 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.EightinOneStyle .categoryItemBox.newDesign .ePhrmItem .ePharmimg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(224, 241, 225);
    margin-bottom: 16px;
}
.ePharmimg img{
    border-radius: 50%;
}

.EightinOneStyle .categoryItemBox .name{
    width: 90%;
    padding-bottom: 0px;
    height: 42px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-align: center;
    overflow-wrap: break-word;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
}
/**doctor Speciality ends**/
/**footer**/
.panel13{
    position: relative;
}
.headerPanel13{
    display: flex;
    overflow-y: hidden;
}
.hereToHelp{
    width: 100%;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(235, 242, 249);
    padding: 20px 0px;
}
@media (max-width: 820px) {
    .hereToHelp .container {
        padding: 0px 15px;
    }
}
.hereToHelp .container {
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.container{
    max-width: 1112px;
}
.hereToHelp .text{
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}
a{
    color: var(--bs-link-color);
    text-decoration: underline;
}
.helpButton .hlpbtn{
    font-size: 14px;
    min-width: 170px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 0px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    background: rgb(25, 118, 210);
    border-color: rgb(25, 118, 210);
    padding: 10px 20px;
    cursor: pointer;
    line-height: 22px;
    font-weight: 700;
    border-radius: 8px;
    margin: 0px 20px 0px 0px;
}

.footerStyle{
    width: 100%;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgb(235, 242, 249);
}
.footerStyle .mobileLogo{
    min-width: 126px;
    margin-top: 24px;
    margin-bottom: 6px;
    text-align: center;
    display: none;

}
.footerStyle .mobileLogo img{
    min-width: 126px;
    margin-top: 24px;
    margin-bottom: 6px;
    text-align: center;
    display: none;
}
.footerStyle .topArea{
    width: 100%;
    padding: 30px 0px 17px;
}
.footerStyle .container{
    padding: 0px 50px;
}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.row>* {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.footerStyle.topArea .rightArea .sectionArea ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.footerStyle .topArea .rightArea .sectionArea ul.social {
    display: flex;

}
.footerStyle .topArea .rightArea .sectionArea ul li{
    margin: 0px 0px 10px;
}
.footerStyle .topArea .rightArea .sectionArea ul.social li{
    margin: 0px 12px 0px 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.col {
    -webkit-flex: 1 0;
    -moz-box-flex: 1;
    flex: 1 0;
}
.footerStyle .topArea .rightArea .sectionArea .title{
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid rgb(235, 242, 249);
    padding: 0px 0px 8px;
    margin: 0px 0px 12px;
}
.footerStyle .topArea .rightArea .sectionArea ul li a{
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(49, 54, 60);
    cursor: pointer;
    display: flex;

}
.footerstyle .topArea .rightArea .sectionArea ul.social li a {
    width: 32px;
    height: 32px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(235, 242, 249);
    border-radius: 50%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.footerStyle .topArea .rightArea .sectionArea ul.social li a > div {
    width: 100%;
    height: 100%;
    max-width: 15px;
    max-height: 15px;
    display: flex;
    position: relative !important;
}

.footerStyle .topArea .rightArea .sectionArea ul.social li a > div > img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}
img {
    vertical-align: middle;
}
.footerStyle .topArea .rightArea .sectionArea ul a{
    margin: 0px 0px 10px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(49, 54, 60);
    cursor: pointer;
    display: flex;
}

@media (max-width: 820px) {
    .footerStyle .topArea .rightArea .sectionArea .row {
        flex-direction: column;
    }
}

.footerStyle .topArea .rightArea .storeLink{
    margin: 45px 0px 0px;
    display: flex;
    flex-direction: row;
}
.footerStyle .topArea .rightArea .storeLink .logo{
    min-width: 126px;
    margin-right: 70px;
}
.footerStyle .topArea .rightArea .storeLink .android{
    width: 110px;
    height: 42px;
}
.footerStyle .topArea .rightArea .storeLink .android{
    width: 110px;
    height: 42px;
}
.footerStyle .topArea .rightArea .storeLink .android{
    width: 110px;
    height: 42px;
}
.footerStyle .topArea .rightArea .storeLink .ios{
    width: 110px;
    height: 42px;
    margin: 0px 0px 0px 7px;
}
.footerStyle .bottomArea{
    width: 100%;
    color: rgb(49, 54, 60);
    background: rgb(242, 248, 254);
    padding: 10px 0px;
    position: relative;
} 
.footerStyle .bottomArea .container{
    display: flex;
    width: 1112px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    
    padding: 0px 15px;

}


@media (max-width: 480px) {
    .footerStyle .bottomArea .container {
        flex-direction: column;
    }
}
@media (max-width: 820px) {
    .footerStyle .bottomArea .container {
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
}
.footerStyle .bottomArea .container .links{
    display: flex;
    
    -webkit-box-align: center;
    align-items: center; 
}
@media (max-width: 480px) {
    .footerStyle .bottomArea .container .links {
        width: 100%;
        margin: 14px 0px 10px;
        line-height: 18px;
        display: flex;
        flex-flow: wrap;
    }
}
@media (max-width: 992px) {
    .footerStyle  .bottomArea .container .links {
        flex-direction: column;
        width: 100%;
    }
}
.footerStyle .bottomArea .container .links .logo {
    min-width: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.footerStyle .bottomArea .container .links .logo a {
    margin-right: 16px;
}
.footerStyle .footer-logo img{
    min-width: 32px;
    margin-top: 20px;
    margin-left: 10px;
   
    
    vertical-align: middle;
    display: flex;
}
.footerStyle .bottomArea .container .links .link {
    display: flex;
    font-size: 11px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    min-width: 32px;

}
.footerStyle .footer-logo {
    min-width: 32px;
}
.footerStyle .bottomAddress {
    display: flex;
    flex-wrap: wrap;
}
.footerStyle .bottomArea .container .links .link span{
    display: block;
    margin-left: 8px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: rgb(120, 144, 156);
}
.footerStyle .bottomArea .container .links .link span.blue-text {
    color: rgb(25, 118, 210);
}
.footerStyle .bottomArea .container .copyRight {
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    color: rgb(120, 144, 156);
}
.footerStyle .bottomArea .container .copyRight.small{
    font-size: 10px;
    line-height: 15px;
}